/* Variables */

:root {
  --white: #ffffff;
  --grey: #141414;
  --grey2: #f2f0f1;
  --grey3: #fbfbfb;
  --blue: #00b3ba;
  --blueOpacity: rgba(0, 179, 183, 0.6);
  --orange: #f7a001;
}

@font-face {
  font-family: "brandon";
  src: url("../fonts/brandontext-regular.otf");
}

@font-face {
  font-family: "brandon";
  src: url("../fonts/brandontext-bold.otf");
  font-weight: bold;
}

/* Normalize */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-family: "brandon", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.42857143;
  color: var(--grey);
  background-color: var(--white);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

a {
  background-color: transparent;
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}

a,
a:hover {
  color: var(--grey);
}

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

b,
strong {
  font-weight: bold;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

img {
  display: block;
  border: 0;
  width: 100%;
}

button {
  color: inherit;
  font: inherit;
  margin: 0;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  display: inline-block;
}

/* Print */

@media print {
  *,
  *:before,
  *:after {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  img {
    page-break-inside: avoid;
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* Text colors */

.white-color {
  color: var(--white);
}

.blue-color {
  color: var(--blue);
}

.orange-color {
  color: var(--orange);
}

.grey-color {
  color: var(--grey);
}

/* Background colors */

.white-bg {
  background-color: var(--white);
}

.grey-bg {
  background-color: var(--grey);
}

.grey2-bg {
  background-color: var(--grey2);
}

.grey3-bg {
  background-color: var(--grey3);
}

.blue-bg {
  background-color: var(--blue);
}

.blueOpacity-bg {
  background-color: var(--blueOpacity);
}

.orange-bg {
  background-color: var(--orange);
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

/* Buttons */

button,
.button {
  display: inline-block;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.3;
}

.button:hover {
  text-decoration: none;
}

/* Container */

.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

@media (min-width: 1600px) {
  .container {
    width: 1600px;
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

/* Columns */

.col-sm-6,
.col-md-4,
.col-md-6,
.col-lg-4,
.col-12 {
  width: 100%;
  padding: 50px;
}

@media (min-width: 415px) {
  .col-sm-6 {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-sm-6,
  .col-md-6 {
    width: 50%;
  }
}
@media (min-width: 1280px) {
  .col-lg-4 {
    width: 33.33333333%;
  }
}

.title {
  padding: 0;
}

/* Header */

.navbar-brand {
  display: inline-block;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  box-sizing: content-box;
}

.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}

.navbar-brand img {
  display: inline-block;
  height: 100%;
  width: auto;
  vertical-align: middle;
}

/* Hero section */

.hero {
  height: 580px;
}

.hero .container {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: center;
  background-image: url("../img/hero-2560.jpg");
  background-size: cover;
  background-position-x: 30%;
  background-position-y: center;
  position: relative;
  height: 100%;
  background-color: var(--blueOpacity);
}

.hero .container:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--blueOpacity);
  z-index: 1;
}

.hero .square {
  position: relative;
  font-size: 30px;
  width: 100%;
  padding: 30px 50px;
  line-height: 1;
  z-index: 2;
}

.hero .square .dona {
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  padding: 5px 10px;
}

.hero .circle {
  position: relative;
  z-index: 2;
  padding: 30px 50px;
}

.hero .circle p {
  font-weight: bold;
  line-height: 1;
  margin: 0;
}

.hero .circle span {
  display: block;
}

.hero .circle span.devices {
  position: absolute;
  top: 24px;
  left: 43px;
  font-size: 68px;
  letter-spacing: -6px;
  min-width: 103px;
  text-align: right;
  text-shadow: 0 0 5px transparent;
  transition: all ease 1s;
}

.hero .circle span.devices.glow {
  text-shadow: 0 0 15px white;
}

.hero .circle span.row1 {
  font-size: 34px;
  margin-left: 103px;
  line-height: 0.8;
}

.hero .circle span.row2 {
  font-weight: normal;
  font-size: 27px;
  margin-top: 5px;
}

@media only screen and (min-width: 768px) {
  .hero {
    height: 400px;
  }
}

@media only screen and (min-width: 1024px) {
  .hero {
    height: 500px;
  }

  .hero .container:after {
    display: none;
  }

  .hero .circle {
    position: absolute;
    bottom: 0;
    left: 40px;
    border-radius: 150px;
    background-color: var(--blueOpacity);
    border-radius: 225px 225px 0 0;
    padding: 60px 30px 20px;
  }

  .hero .circle span.devices {
    top: 55px;
    left: 24px;
  }

  .hero .square {
    position: absolute;
    bottom: 0;
    right: 40px;
    width: 400px;
    background-color: var(--blueOpacity);
  }
}

/* Partner */

.partner [class*="col-"] {
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.partner .flex {
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.partner .logos .flex {
  margin-right: 20px;
}

.partner .logo {
  margin: 0 20px;
}

.partner a {
  display: inline-block;
  height: 70px;
}

.partner img {
  height: 100%;
  width: auto;
}

@media only screen and (min-width: 1024px) {
  .partner [class*="col-"] {
    flex-flow: row;
  }
}

@media only screen and (max-width: 500px) {
  .partner .intro {
    margin-bottom: 20px;
    width: 100%;
    justify-content: center;
    text-align: center;
  }
}

/* Fascia 1 */

.fascia1 .flex {
  align-items: center;
}

.fascia1 img {
  max-width: 300px;
  margin: 0 auto;
}

/* Fascia 2 */

.fascia2 .col-md-4 {
  padding: 30px 50px 50px;
}

.fascia2 .col-12 {
  padding-bottom: 30px;
}

.fascia2 img {
  max-width: 200px;
  margin: 20px auto;
}

@media only screen and (min-width: 768px) {
  .fascia2 h3 {
    min-height: 122px;
  }
}

@media only screen and (min-width: 1200px) {
  .fascia2 h3 {
    min-height: 88px;
  }
}

/* Fascia 3 */

.fascia3 {
  text-align: center;
}

.fascia3 img {
  max-height: 60px;
  width: auto;
  margin: 0 auto;
}

/* Parlano di noi */

.parlanoDiNoi h2 {
  text-align: center;
}

.parlanoDiNoi ul {
  justify-content: center;
  align-items: center;
}

.parlanoDiNoi li {
  margin: 20px 40px;
}

.parlanoDiNoi img {
  max-width: 140px;
}

.parlanoDiNoi .unibomagazine img {
  max-width: 180px;
}

/* Footer */

footer {
  margin: 70px 0 20px;
  text-align: center;
}

footer [class*="col-"] {
  padding: 10px;
}

footer .flex {
  justify-content: space-between;
}

footer .fbContact a {
  display: inline-block;
  vertical-align: top;
}

footer .fbContact img {
  width: 40px;
  position: relative;
  top: -10px;
}

footer .contact a {
  text-decoration: underline;
}

@media only screen and (min-width: 1024px) {
  footer .fbContact {
    text-align: left;
  }

  footer .contact {
    text-align: right;
  }
}
