/* Variables */

:root {
  --white: #ffffff;
  --grey: #141414;
  --grey2: #e8e0e4;
  --grey3: #f2f0f0;
  --blue: #00b3ba;
  --blue2: #1c3946;
  --orange: #f6a000;
  --orange2: #ffe48d;
}

/* Normalize */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #fff;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

a {
  background-color: transparent;
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}

a,
a:focus,
a:hover {
  color: var(--grey);
}

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

b,
strong {
  font-weight: bold;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

img {
  display: block;
  border: 0;
  width: 100%;
}

button {
  color: inherit;
  font: inherit;
  margin: 0;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Print */

@media print {
  *,
  *:before,
  *:after {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  img {
    page-break-inside: avoid;
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* Text colors */

.white-color {
  color: var(--white);
}

.blue-color {
  color: var(--blue);
}

.orange-color {
  color: var(--orange);
}

.grey-color {
  color: var(--grey);
}

/* Background colors */

.white-bg {
  background-color: var(--white);
}

.grey-bg {
  background-color: var(--grey);
}

.grey2-bg {
  background-color: var(--grey2);
}

.grey3-bg {
  background-color: var(--grey3);
}

.blue-bg {
  background-color: var(--blue);
}

.blue2-bg {
  background-color: var(--blue2);
}

.orange-bg {
  background-color: var(--orange);
}

.orange2-bg {
  background-color: var(--orange2);
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

/* Buttons */

button,
.button {
  display: inline-block;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  border-radius: 3px;
  text-transform: uppercase;
}

.button:hover {
  text-decoration: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

/* Text alignment */

.text-center {
  text-align: center;
}

/* Container */

.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* Columns */

.col-lg-4,
.col-md-6 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 992px) {
  .col-md-6 {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .col-lg-4 {
    width: 33.33333333%;
  }
}

[class*="col-"],
.title {
  padding: 50px;
}

.navbar-brand {
  display: block;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  box-sizing: content-box;
}

.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}

.navbar-brand img {
  display: inline-block;
  height: 100%;
  width: auto;
  vertical-align: middle;
}

main {
  text-align: center;
}

/* Hero section */

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("hero.png");
  background-size: cover;
  height: 200px;
}

.hero .circle {
  display: table;
  width: 150px;
  height: 150px;
  margin: 0 20px;
  border-radius: 150px;
}

.hero .circle p {
  display: table-cell;
  vertical-align: middle;
}

.hero .circle span {
  font-weight: bold;
}

.hero .circle span:not(.number) {
  display: block;
}

/* Partner */

.partner a {
  display: inline-block;
  height: 50px;
}

.partner a img {
  height: 100%;
  width: auto;
}

/* Come funziona */

.howWorks img {
  max-width: 200px;
  margin: 20px auto;
}

/* Azienda e privati */

.companyAndPrivates img {
  max-height: 60px;
  width: auto;
  margin: 0 auto;
}

/* Parlando di noi */

.parlanoDiNoi ul {
  justify-content: center;
  align-items: center;
}

.parlanoDiNoi li {
  margin: 20px;
}

.parlanoDiNoi img {
  max-width: 140px;
}

/* Footer */

footer {
  margin: 70px 0 20px;
  text-align: center;
}

footer [class*="col-"] {
  padding: 10px;
}

footer .flex {
  justify-content: space-between;
}

footer .fbContact a {
  display: inline-block;
  vertical-align: top;
}

footer .fbContact img {
  width: 40px;
  position: relative;
  top: -10px;
}

footer .contact a {
  text-decoration: underline;
}

/* Media queries */

@media only screen and (min-width: 768px) {
  .hero {
    height: 400px;
  }

  .hero .circle {
    width: 200px;
    height: 200px;
    margin: 0 50px;
    border-radius: 200px;
  }
}

@media only screen and (min-width: 1024px) {
  .hero {
    height: 600px;
  }

  footer .fbContact {
    text-align: left;
  }

  footer .contact {
    text-align: right;
  }
}
