:root {
  --main-white: #ffffff;
  --main-blue: #00b3ba;
  --main-orange: #f6a000;
  --main-grey: #3f3f3e;
  --secondary-blue: #c1deea;
  --secondary-orange: #ffe48d;
  --secondary-grey: #ebebeb;
}

/* Text colors */

.mainWhite-color {
  color: var(--main-white);
}

.mainBlue-color {
  color: var(--main-blue);
}

.mainOrange-color {
  color: var(--main-orange);
}

.mainGrey-color {
  color: var(--main-grey);
}

/* Background colors */

.mainWhite-bg {
  background-color: var(--main-white);
}

.mainBlue-bg {
  background-color: var(--main-blue);
}

.mainOrange-bg {
  background-color: var(--main-orange);
}

.mainGrey-bg {
  background-color: var(--main-grey);
}
.secondaryBlue-bg {
  background-color: var(--secondary-blue);
}
.secondaryOrange-bg {
  background-color: var(--secondary-orange);
}
.secondaryGrey-bg {
  background-color: var(--secondary-grey);
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
}

/* Buttons */

button,
.button {
  padding: 3px 5px;
  outline: 0;
  border: 0;
}

.button:hover {
  text-decoration: none;
}

/* Container */
/* Override della classe in bootstrap.css */

.container {
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

[class*="col-"],
.title {
  padding: 50px;
}

.navbar-brand {
  height: 100px;
}

.navbar-brand img {
  display: inline-block;
  height: 100%;
}

/* Hero section */

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("hero.png");
  background-size: cover;
  height: 200px;
}

.hero .circle {
  display: table;
  width: 200px;
  height: 200px;
  margin: 0 50px;
  border-radius: 200px;
}

.hero .circle p {
  display: table-cell;
  vertical-align: middle;
}

.hero .circle span {
  font-weight: bold;
}

.hero .circle span:not(.number) {
  display: block;
}

footer .navbar-brand {
  height: 70px;
}

@media only screen and (min-width: 768px) {
  .hero {
    height: 400px;
  }
}

@media only screen and (min-width: 1024px) {
  .hero {
    height: 600px;
  }
}
